/* || GENERAL STYLES */

body {
    background-color: #0A0F22;
    color: #EAEBF2;
}

h1 {
    font-family: "Roboto";
    text-align: center;
    color: #EAEBF2;
}

h2 {
    font-family: "Roboto";
    text-align: left;
    color: #EAEBF2;
}

a {
    font-family: "Roboto";
}

p {
    font-family: "Roboto";
}

/* || SITEWIDE */

.navigation_bar {
    float: left;
    display: inline;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    background-color: #24324E;
    position: absolute;
    width: calc(100% - 26px);
}

.navigation_bar_left a {
    text-decoration: none;
    color: #EAEBF2;
    text-align: center;
    padding: 8px 8px 8px 8px;
    float: left;
    font-weight: bold;
}

.navigation_bar_right a {
    text-decoration: none;
    color: #EAEBF2;
    text-align: center;
    padding: 8px 8px 8px 8px;
    float: right;
    font-weight: bold;
}

.navigation_bar a:hover {
    background-color: #4D5E87;
    transition: 0.2s;
}

.navigation_bar__active_page--highlight {
    background-color: #4D5E87;
}

.navigation_bar__active_page--highlight:hover {
    background-color: #B7C1E5!important;
    color: #0A0F22;
}

/* || Builds */

.main-hand {
    grid-area: main-hand;
}

.helmet {
    grid-area: helmet;
}

.off-hand {
    grid-area: off-hand;
}

.body_armour {
    grid-area: body_armour;
}

.amulet {
    grid-area: amulet;
}

.ring_1 {
    grid-area: ring_1;
}

.ring_2 {
    grid-area: ring_2;
}

.gloves {
    grid-area: gloves;
}

.boots {
    grid-area: boots;    
}

.belt {
    grid-area: belt;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'main-hand   main-hand   .           helmet      .           off-hand    off-hand'
        'main-hand   main-hand   .           helmet      .           off-hand    off-hand'
        'main-hand   main-hand   .           body_armour .           off-hand    off-hand'
        'main-hand   main-hand   .           body_armour .           off-hand    off-hand'
        'main-hand   main-hand   .           body_armour amulet      off-hand    off-hand'
        'gloves      gloves      ring_1      body_armour ring_2      boots       boots'
        'gloves      gloves      .           belt        .           boots       boots';
    gap: 10px;
    background-color: #24324E;
    padding: 10px;
    float: left;
    border-radius: 2px;
}

.grid-container > div {
    background-color: #4D5E87;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    border-radius: 2px;
  }

.grid-container > div:hover {
    background-color: #B7C1E5;
    transition: 0.2s;
}

.dropdown {
    position: relative;
    height: 90%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.dropdown_content {
    background-color: rgb(33, 47, 61);
}

.dropdown_content a:hover {
    background-color: #4B4B4B;
    color: white;
}

.dropdown:hover .dropdown_content {
    display: block;
}